.services-container{
    padding: 30px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.services-title{
    padding: 30px;
    padding-bottom: 0;
}
@media (max-width: 890px) {
    .services-title{
        padding: 20px;
    }
    .services-title h1{
        font-size: 25px;
    }
    .services-container{
        padding: 10px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
}