.navbar {
    position: absolute;
    top: 0;
    right: 0;
    width: 60%;
    height: 50px;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    border-bottom-right-radius: 0;
    border-top-left-radius: 0;
    background: #414140;
    z-index: 1;
}

.list {
    font-size: 20px;
    font-weight: 500;
}

.list:hover, .active {
    color: #fff555 !important;
}

@media (max-width: 1064px) {
    .list {
        font-size: 15px;
        font-weight: 400;
    }
}

@media (max-width: 850px) {
    .navbar {
        position: fixed;
        top: 93% !important; /* Fixed at the bottom */
        right: 0;
        width: 100%; /* Full width */
        height: 50px; /* Keep the height consistent */
        padding: 0; /* Adjust padding for better fit */
        display: flex;
        justify-content: space-evenly; /* Evenly spaced items */
        align-items: center;
        flex-direction: row; /* Row direction */
        border-radius: 0;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px; /* Added top-right radius */
        background: #41414060;
        backdrop-filter: blur(10px);
        z-index: 1;
    }
    .list {
        font-size: 15px; /* Adjusted font size for visibility */
        font-weight: 500;
    }
}
