
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: none;
  text-decoration: none;
  list-style: none;
  color: white;
  font-family: "Playfair Display", serif;
  
}
body {
  background: black;
  overflow-x: hidden;
}
.where-title{
  font-size: 35px;
  font-weight: 900;
  padding: 10px;
  padding-left: 5px;
}
@media (max-width: 950px) {
  .where-title{
    font-size: 25px;
  }
}